<div class="inner-page-header">
  <div class="row">
    <div class="col-sm-12">
        <h2>Invitations</h2>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <h4>Create a new Invitation</h4>
  <p><%= link_to("New", new_invitation_path, class: "btn btn-sm btn-primary") %></p>
  <p>To edit or delete, please search via <%= link_to("tournament", tournaments_path) %> or <%= link_to("players", users_path) %>
</div>

