table.table {
  thead.thead-dark {
    tr {
      th {
        background-color: #25417f;
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: #dedede;
      }
      &.odd {
        background-color: #ededed;
        &:hover {
          background-color: #dedede;
        }
      }
    }

  }
  tfoot {
    td {
      &.centre {
        text-align: center;
        nav {
          display: inline-block;
        }
      }
    }
  }
}
