table.table {
  thead.thead-dark {
    tr {
      th {
        background-color: #25417f;
      }
    }
  }
  tfoot {
    td {
      &.centre {
        text-align: center;
        nav {
          display: inline-block;
        }
      }
    }
  }
}
