<ul id="sidebar">
  <li><a href="/" class="<%=active_class("home") %>">Home</a></li>
  <li><a href="/tournaments" class="<%=active_class("tournaments") %>">Tournaments</a></li>
  <li><a href="/users" class="<%=active_class("users") %>">Players</a></li>
  <li><a href="/promotions" class="<%=active_class("promotions") %>">Promotions</a></li>
</ul>
